.ios, .md {

  .ps-visible-area {
    margin-bottom: 18px;
    margin-left: 12px;
    margin-right: 12px;
    background-color: transparent;
    
    ion-grid {
      height: 100%
    }
  }
  
  .ps-keyboard-area {

  }

  .phone-field {
    margin: auto;
    padding: 1px;
    height: 50px;
    line-height: 50px;
    font-size: 40px;
    color: map-get($colors, text);
    border-style: none;
  }

  .phone-field.highlighted {
    margin: auto;
    padding: 1px;
    height: 50px;
    line-height: 50px;
    font-size: 40px;
    color: map-get($colors, text);
    border-style: solid;
    border-width: 1px;
    border-color: map-get($colors, accent);
    border-radius: 4px;
  }

  .phone-hyphen {
    height: 50px;
    line-height: 50px;
    font-size: 40px;
    padding: 0;
    color: map-get($colors, accent);
  }

  h2.tagline {
    margin: auto;
    margin-bottom: 12px;
    margin-top: 12px;
    padding: 0px;
    text-align: center;
    overflow: hidden;
    color: map-get($colors, text);
  }

  h2.explanation {
    margin: auto;
    margin-bottom: 12px;
    margin-top: 12px;
    padding: 0px;
    text-align: center;
    overflow: hidden;
    color: map-get($colors, accent);
  }

  page-login .submit-btn {
    background: #292929;
    color: #b8b8b8;
    border-radius: 0px !important;
    border: 1px solid #ffffff;
  }

  page-login .submit-btn:hover {
    background: #292929;
    color: #b8b8b8;
  }
}


page-login {

  .login-content {
    background: transparent;
 
    ion-row {
       align-items: center;
       text-align: center;
    }
  }
}
