page-login {

  .login-content {
    background: transparent;
 
    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;

      .logo {
      	max-height: 200px;
      	max-width: 200px;
      }
    }
 
    .login-box {
      background: transparent;
      padding: 20px 20px 0px 20px;
      margin-top: 30px;
    }
 
    ion-row {
       align-items: center;
       text-align: center;
     }
 
     ion-item {
         border-radius: 0px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 1px solid #ffffff;
         border-bottom: 0px !important;
         box-shadow: none !important;
     }
 
     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }
 
     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }
 
     .submit-btn {
       background: #292929;
       color: #b8b8b8;
       border-radius: 0px !important;
       border: 1px solid #ffffff;
     }
      
     .submit-btn:hover {
       background: #292929;
       color: #b8b8b8;
     }

     .register-btn {
       font-size: 0.8em;
       background: #292929;
       color: #b8b8b8;
       border-radius: 0px !important;
       border: 1px solid #ffffff;
     }

	 .register-btn:hover {
       background: #292929;
       color: #b8b8b8;
     }
  }
}
