
page-edit-field button {
	background-color: transparent;
}
page-edit-field ion-item {
	background-color: transparent;
	height: 100%;	
}
page-edit-field ion-label {
	background-color: transparent;
	font-size: 30px; 	
}
page-edit-field ion-input {
	background-color: transparent;
	color: map-get($colors, accent); 
	font-size: 30px;
	height: 30px;
}
page-edit-field .item-md {
	background-color: transparent;		
}
page-edit-field .item-inner {
	background-color: transparent;
	border: none !important;
	box-shadow: none !important;		
}
page-edit-field .input-wrapper {
	background-color: transparent;			
}
page-edit-field .ps-field {
	background-color: map-get($backgrounds, modal);
	border-color: map-get($colors, accent) !important;
	border-width: 1px !important;
	border-style: solid;;
	height: 30% !important;
	width: calc(100vw - 32px) !important;
	position: absolute !important;
	top: 15% !important;
}
