<ion-header class="ps-header packet-header">
  <ion-navbar primary hideBackButton="true">
    <ion-buttons left>
      <div id="nav-icon3" class="open" (click)="pop()">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div> 
    </ion-buttons>
    <ion-title>PACKET NAME</ion-title>
    <ion-buttons end>
      <button ion-button icon-center>
        <ion-icon name="chatbubbles"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding class="packet-content">
  <ion-slides style="height: auto">
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- BIO SLIDE -->
    <ion-slide>
      <form [formGroup]="bioForm">
        
        <ion-item>
          <ion-label floating>FIRST NAME</ion-label>
          <ion-input formControlName="firstName"
                     type="text"
                     clearInput=true
                     [class.invalid]="!bioForm.controls.firstName.valid && 
                     submitTried">
          </ion-input>
        </ion-item>
        <ion-item no-lines class="warning"
                  *ngIf="!bioForm.controls.firstName.valid  && submitTried">
          <p>Please enter a valid name</p>
        </ion-item>

        <ion-item>
          <ion-label floating>MIDDLE INITIAL</ion-label>
          <ion-input formControlName="middleInitial"
                     type="text"
                     clearInput=true
                     [class.invalid]="!bioForm.controls.middleInitial.valid && 
                     submitTried"></ion-input>
        </ion-item>
        <ion-item no-lines class="warning"
                  *ngIf="!bioForm.controls.middleInitial.valid  && 
                  submitTried">
          <p>Please enter a valid initial</p>
        </ion-item>
        
        <ion-item>
          <ion-label floating>LAST NAME</ion-label>
          <ion-input formControlName="lastName"
                     type="text"
                     clearInput=true
                     [class.invalid]="!bioForm.controls.lastName.valid && 
                     submitTried"></ion-input>
        </ion-item>
        <ion-item no-lines class="warning"
                  *ngIf="!bioForm.controls.lastName.valid  && submitTried">
          <p>Please enter a valid name</p>
        </ion-item>

        <ion-item>
          <ion-label floating>Last 4 Digits of Soc. Sec.</ion-label>
          <ion-input formControlName="ssn"
                     type="text"
                     clearInput=true
                     [class.invalid]="!bioForm.controls.ssn.valid && 
                     submitTried"></ion-input>
        </ion-item>
        <ion-item no-lines class="warning"
                  *ngIf="!bioForm.controls.ssn.valid  && submitTried">
          <p>Please enter the last 4 digits of your Soc. Sec.</p>
        </ion-item>

        <ion-item>
          <ion-label floating>Rank</ion-label>
          <ion-input formControlName="rank"
                     type="text"
                     clearInput=true
                     [class.invalid]="!bioForm.controls.rank.valid && 
                     submitTried"></ion-input>
        </ion-item>
        <ion-item no-lines class="warning"
                  *ngIf="!bioForm.controls.rank.valid  && submitTried">
          <p>Please select a valid Rank</p>
        </ion-item>

        <ion-item>
          <ion-label floating>Phone Number</ion-label>
          <ion-input formControlName="phoneNumber"
                     type="text"
                     clearInput=true
                     [class.invalid]="!bioForm.controls.phoneNumber.valid && 
                     submitTried"></ion-input>
        </ion-item>
        <ion-item no-lines class="warning"
                  *ngIf="!bioForm.controls.phoneNumber.valid  && submitTried">
          <p>Please enter a valid Phoen Number</p>
        </ion-item>

      </form>
    </ion-slide>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- STATION SLIDE -->
    <ion-slide>
      <form [formGroup]="stationForm">
        <ion-item>
          <ion-label floating>Platoon</ion-label>
          <ion-input formControlName="platoon"
                     type="text"
                     clearInput=true
                     [class.invalid]="!stationForm.controls.platoon.valid && 
                     submitTried"></ion-input>
        </ion-item>
        <ion-item no-lines class="warning"
                  *ngIf="!stationForm.controls.platoon.valid  && submitTried">
          <p>Please enter valid text</p>
        </ion-item>
        <ion-item>
          <ion-label floating>Company</ion-label>
          <ion-input formControlName="company"
                     type="text"
                     clearInput=true
                     [class.invalid]="!stationForm.controls.company.valid && 
                     submitTried"></ion-input>
        </ion-item>
        <ion-item no-lines class="warning"
                  *ngIf="!stationForm.controls.company.valid  && submitTried">
          <p>Please enter valid text</p>
        </ion-item>
        <ion-item>
          <ion-label floating>Battalion</ion-label>
          <ion-input formControlName="battalion"
                     type="text"
                     clearInput=true
                     [class.invalid]="!stationForm.controls.battalion.valid && 
                     submitTried"></ion-input>
        </ion-item>
        <ion-item no-lines class="warning"
                  *ngIf="!stationForm.controls.battalion.valid && 
                  submitTried">
          <p>Please enter valid text</p>
        </ion-item>
        <ion-item>
          <ion-label floating>Brigade</ion-label>
          <ion-input formControlName="brigade"
                     type="text"
                     clearInput=true
                     [class.invalid]="!stationForm.controls.brigade.valid && 
                     submitTried"></ion-input>
        </ion-item>
        <ion-item no-lines class="warning"
                  *ngIf="!stationForm.controls.brigade.valid  && submitTried">
          <p>Please enter valid text</p>
        </ion-item>
        <ion-item>
          <ion-label floating>Division</ion-label>
          <ion-input formControlName="division"
                     type="text"
                     clearInput=true
                     [class.invalid]="!stationForm.controls.division.valid && 
                     submitTried"></ion-input>
        </ion-item>
        <ion-item no-lines class="warning"
                  *ngIf="!stationForm.controls.division.valid  && 
                  submitTried">
          <p>Please enter valid text</p>
        </ion-item>
        <ion-item>
          <ion-label floating>Post</ion-label>
          <ion-input formControlName="post"
                     type="text"
                     clearInput=true
                     [class.invalid]="!stationForm.controls.post.valid && 
                     submitTried"></ion-input>
        </ion-item>
        <ion-item no-lines class="warning"
                  *ngIf="!stationForm.controls.post.valid  && submitTried">
          <p>Please enter valid text</p>
        </ion-item>
        <ion-item>
          <ion-label floating>Zip Code</ion-label>
          <ion-input formControlName="zip"
                     type="text"
                     clearInput=true
                     [class.invalid]="!stationForm.controls.zip.valid && 
                     submitTried"></ion-input>
        </ion-item>
        <ion-item no-lines class="warning"
                  *ngIf="!stationForm.controls.zip.valid  && submitTried">
          <p>Please enter a valid Zip Code</p>
        </ion-item>
        <ion-item>
          <ion-label floating>Contact Phone Number</ion-label>
          <ion-input formControlName="phoneNumber"
                     type="text"
                     clearInput=true
                     [class.invalid]="!stationForm.controls.phoneNumber.valid 
                     && submitTried"></ion-input>
        </ion-item>
        <ion-item no-lines class="warning"
                  *ngIf="!stationForm.controls.phoneNumber.valid  && submitTried">
          <p>Please enter a valid Phone Number</p>
        </ion-item>
      </form>
    </ion-slide>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- DESTINATION SLIDE -->
    <ion-slide>
      <form [formGroup]="destinationForm">
        <ion-item>
          <ion-label floating>STREET</ion-label>
          <ion-input formControlName="street"
                     type="text"
                     clearInput=true
                     [class.invalid]="!destinationForm.controls.street.valid 
                     && submitTried"></ion-input>
        </ion-item>
        <ion-item no-lines class="warning"
                  *ngIf="!destinationForm.controls.street.valid  && 
                  submitTried">
          <p>Please enter a valid Street Number and Street Name</p>
        </ion-item>
        <ion-item>
          <ion-label floating>CITY</ion-label>
          <ion-input formControlName="city"
                     type="text"
                     clearInput=true
                     [class.invalid]="!destinationForm.controls.city.valid 
                     && submitTried"></ion-input>
        </ion-item>
        <ion-item no-lines 
                  class="warning"
                  *ngIf="!destinationForm.controls.city.valid  && 
                  submitTried">
          <p>Please enter a valid City Name</p>
        </ion-item>
        <ion-item>
          <ion-label floating>STATE</ion-label>
          <ion-input formControlName="state"
                     type="text"
                     clearInput=true
                     [class.invalid]="!destinationForm.controls.state.valid 
                     && submitTried"></ion-input>
        </ion-item>
        <ion-item no-lines class="warning"
                  *ngIf="!destinationForm.controls.state.valid  && 
                  submitTried">
          <p>Please select a State</p>
        </ion-item>
        <ion-item>
          <ion-label floating>ZIP</ion-label>
          <ion-input formControlName="zip"
                     type="text"
                     clearInput=true
                     [class.invalid]="!destinationForm.controls.zip.valid 
                     && submitTried"></ion-input>
        </ion-item>
        <ion-item no-lines class="warning"
                  *ngIf="!destinationForm.controls.zip.valid  && 
                  submitTried">
          <p>Please select a Postal Code</p>
        </ion-item>
      </form>
    </ion-slide>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- LEAVE SLIDE -->
    <ion-slide>
      <form [formGroup]="leaveForm">
        <ion-item>
          <ion-label>TYPE OF LEAVE</ion-label>
           <ion-select formControlName="leaveType" multiple="false">
            <ion-option value = "ORDINARY">ORDINARY</ion-option>
            <ion-option value = "EMERGENCY">EMERGENCY</ion-option>
            <ion-option value = "PERMISSIVE">PERMISSIVE</ion-option>
            <ion-option value = "TDY">TDY</ion-option>
            <ion-option value = "OTHER">OTHER</ion-option>
          </ion-select>
        </ion-item>
        <ion-item no-lines class="warning"
                  *ngIf="!leaveForm.controls.leaveType.valid  && submitTried">
          <p>Please select the Type of Leave that you are taking</p>
        </ion-item>
        <ion-item no-lines class="warning" *ngIf="totalLeaveDays > 0">
          <p>Please enter some leave days</p>
        </ion-item>
        <ion-item *ngIf="!leaveForm.controls.leaveType.value == 'OTHER'">
          <ion-label floating>What will you be doing while on leave?</ion-label>
          <ion-input formControlName="explanationOfLeaveType" 
                     type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>DAYS OF ACCRUED LEAVE</ion-label>
          <ion-input formControlName="accruedLeave" type="number"></ion-input>
        </ion-item>
        <ion-item no-lines class="warning" *ngIf="!hasMinLeaveDays && 
                  submitTried">
          <p>Please use some leave days of some kind</p>
        </ion-item>
        <ion-item>
          <ion-label floating>REQUESTED LEAVE</ion-label>
          <ion-input formControlName="requestedLeave" type="number"></ion-input>
        </ion-item>
        <ion-item no-lines class="warning" *ngIf="!hasMinLeaveDays && 
                  submitTried">
          <p>Please use some leave days of some kind</p>
        </ion-item>
        <ion-item>
          <ion-label floating>ADVANCED LEAVE</ion-label>
           <ion-input formControlName="advancedLeave" type="number"></ion-input>
        </ion-item>
        <ion-item no-lines class="warning" *ngIf="!hasMinLeaveDays && 
                  submitTried">
          <p>Please use some leave days of some kind</p>
        </ion-item>
        <ion-item>
          <ion-label floating>EXCESS LEAVE</ion-label>
           <ion-input formControlName="excessLeave" type="number"></ion-input>
        </ion-item>
        <ion-item no-lines class="warning" *ngIf="!hasMinLeaveDays && 
                  submitTried">
          <p>Please use some leave days of some kind</p>
        </ion-item>
        <ion-item>
          <ion-label floating>LEAVE START DATE</ion-label>
           <ion-datetime formControlName="startDate" 
                        displayFormat="YYYY/M/D" 
                        pickerFormat="YYYY M D"></ion-datetime>
        </ion-item>
        <ion-item no-lines class="warning"
                  *ngIf="!leaveForm.controls.startDate.valid  && 
                  submitTried">
          <p>Please enter valid Start Date</p>
        </ion-item>
        <ion-item>
          <ion-label floating>LEAVE END DATE</ion-label> 
          <ion-datetime formControlName="endDate" 
                        displayFormat="YYYY/M/D" 
                        pickerFormat="YYYY M D"></ion-datetime>
        </ion-item>
        <ion-item no-lines class="warning"
                  *ngIf="!leaveForm.controls.endDate.valid  && submitTried">
          <p>Please enter a valid End Date</p>
        </ion-item>
      </form>
    </ion-slide>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- DRIVERS LICENSE SLIDE -->
    <ion-slide>
      <button ion-button full (click)="submit()">TEST SUBMITTING!!!!</button>
    </ion-slide>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- INSURANCE SLIDE -->
    <ion-slide>

    </ion-slide>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- INSURANCE SLIDE -->
    <ion-slide>

    </ion-slide>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  </ion-slides>
</ion-content>


<ion-footer class="ps-footer packet-footer">

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button ion-button full color="primary" style="font-size: 20px" (click)="back()">BACK</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button full color="primary" style="font-size: 20px" (click)="next()">NEXT</button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-footer>