page-home {

  ion-title {
    height: 100%;
  }

  .home {
    padding-left: 0px !important;
    padding-right: 0px !important;
    background-color: rgb(242,242,242);
  }

  .home-header {
    height: 100%;
    border: 0px !important;
    border-bottom: none !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    background-color: #fff !important;
  }
}

/* PopSmoke Over-Write Styling */

.toolbar-background {
  background-color: transparent;
}
.toolbar-content-md {
  height: 100%;
}
.toolbar-title-md {
  height: 100%;
  text-align: center;
  color: #FF1744;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
  color: #FF1744;
}
.item-md.item-block .item-inner {
  padding: 0px;  
}
.item-inner {
  padding: 0px;
}
.label-md{
  margin: 0px;
}

/* PopSmoke Specific Styling */

.holiday-card {
  width: 100%;
  height: 60vw;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-top: 16px !important;
  margin-bottom: 16px !important;
  background-color: black;
}

.holiday-button {
  margin: 0px !important;
  padding: 0px !important;
  background-color: transparent;;
}

.card-background-page {

  background : transparent;  

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    width: 100%;
    top: 36%;
    font-size: 44px;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    position: absolute;
    width: 100%;
    top: 52%;
    font-size: 1.0em;
    color: #fff;
  }
}

/* Hide the Scroll Bar in Chrome Browser*/
::-webkit-scrollbar {
  display: none;
}