
/* DEFAULT*/
page-home ion-card {
  background-color: transparent;
  height: 60vw;
  margin: 0px !important;
  padding: 0px !important;
  width: 100%;
  position: relative;
  text-align: center;
}
page-home ion-card img {
  height: 100%;
  filter: contrast(120%) brightness(50%) saturate(150%); 
}
page-home .label {
  margin: 0px !important;
  padding: 0px !important;
}
page-home .item-inner {
  margin: 0px !important;
  padding: 0px !important;
}
page-home .holiday-list {
  background : transparent;  
}
page-home .holiday-list button {
  background-color: black;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-top: 16px !important;
  margin-bottom: 16px !important;
  padding: 0px !important;
}
page-home .card {
  margin: 0px !important;
  padding: 0px !important;
  width: 100%;
}
page-home .card-title {
  color: map-get($colors, accent);
  font-size: 3.0em;
  font-weight: bold;
  position: absolute;
  top: 36%;
  width: 100%;
}
page-home .card-subtitle {
  color: map-get($colors, accent);
  font-size: 2.0em;
  position: absolute;
  top: 62%;
  width: 100%;
}
page-home h1 {
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}
page-home h2 {
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

/* Hide the Scroll Bar in Chrome Browser*/
::-webkit-scrollbar {
  display: none;
}

/* Material Design */
page-home .label-md {
  margin: 0px;
}
page-home .card-md {
  margin: 0px !important;
  padding: 0px !important;
  width: 100%;
}
/* iOS */
page-home .label-ios {
  margin: 0px !important;
  padding: 0px !important;
}
page-home .card-ios {
  margin: 0px !important;
  padding: 0px !important;
  width: 100%;
}