// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.ps-menu {

	background-color: transparent;
	
	.ion-list{
		background-color: transparent;
	}

	.ps-menu-button {
		background-color: transparent !important;
		height: 100% !important;
		padding: 0px !important;
		width: 100% !important;
	}

	.ps-menu-icon {
		color: white;
	    font-size: 30px;
		height: 40px;
		line-height: 40px;
		margin-left: 0px;
		padding-left: 16px;
		padding-right: 16px;
		width: 72px;
		text-align: center;
		vertical-align: middle;
	}

	.ps-menu-option {
		background-color: transparent;
		color: white;
		height: 64px;
		margin-left: 0px;
		padding-left: 0px;
		text-align: left;
	}

	.ps-submenu-option {
		background-color: #E0E0E0;
		color: #607D8B;
		height: 64px;
	}

	.ps-menu-header {
		background-color: transparent !important;
		height: 80px !important;
	}

	.ps-menu-footer-button {
		background-color: #2196F3;
		border-radius: 0px;
		height: 44px;
		margin: 0px;
		padding: 0px;
		width: 100%;
	}

	.spacer {
		height: calc(100% - (80px + 44px + 2*64px) - 12px);
	}
}

.ion-header {
  height: 120px;
  background-color: white;
}

/* PopSmoke Over-Write Styling */

.scroll-content {
	overflow-y: auto !important;
}

.md .menu-inner {
	background: transparent; 
}
