<ion-menu enable-menu-with-back-views="false" 
          type="shrink" 
          persistent="true" 
          style="background-color: transparent;"
          [content]="content">
 
  <ion-content class="ps-menu" scroll="false">

    <ion-list scroll="false">
      
      <div class="ps-menu-header" no-lines></div>

      <div *ngFor="let option of menu">
        <button class="ps-menu-button"
                menuClose 
                no-lines>
          <ion-item class="ps-menu-option"
                  no-lines
                  (click)="selectMenuOption(option)">
            <ion-icon class="ps-menu-icon" name="heart"></ion-icon>
            <i class="icon" 
               ng-class="isMenuOptionShown(option) ? 'ion-minus' : 'ion-plus'">
            </i>
            {{option.name}}
          </ion-item>
        </button>

        <template [ngIf]="option.showingSubMenus">
          <button menuClose 
                  no-lines
                  class="ps-menu-button"
                  ng-show="isMenuOptionShown(option)"
                  *ngFor="let item of option.items">
            <ion-item class="ps-submenu-option"
                    no-lines
                    (click)="selectMenuOption(item)">
              {{item.name}}
            </ion-item>
          </button>
        </template>

      </div>

    </ion-list>

    <div class="spacer">
      
    </div>
<!-- 
    <ion-footer align-title="left" class="bar-assertive">
      <button class="ps-menu-footer-button" 
              ion-button 
              menuClose
              (click)="signOut()">
        SIGN OUT
      </button>
    </ion-footer>
 -->
  </ion-content>

</ion-menu>

<ion-nav swipeBackEnabled="false"
         style="background-color: transparent;"
         #myNav 
         #content 
         [root]="rootPage">          
</ion-nav>