// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.popsmoke-menu {

	background: linear-gradient(90deg, black, rgba(33, 33, 33, 0.8));
	
	.ion-list{
		background-color: transparent;
	}

	.option {
		background-color: transparent;
		text-align: right;
		color: white;
		height: 54px;
	}

	.footer-option {
		background-color: transparent;
		text-align: right;
		color: white;
		height: 80 px;
	}

	.header {
		height: 120px;
	}

	.spacer {
		height: calc(100% - (120px + 1*80px + 4*54px));
	}
}

.ion-toolbar.popsmoke-menu {
	background-color: red;
}

/* PopSmoke Over-Write Styling */

.scroll-content {
	overflow-y: auto !important;
}

.md .menu-inner {
	background: transparent; 
}