// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/* APP GLOBAL CONSTANTS */

.ion-menu {
	background-color: transparent !important;
}
.menu-inner {
	background-color: transparent !important;
}
.toolbar-title .toolbar-title-md .ion-title {
	line-height: 80px;
}
.item-md {
	padding-left: 16px !important;
	padding-right: 16px !important;
}


/* DEFAULT */
ion-header {
	background-color: map-get($backgrounds, dark);
	min-height: 80px;
	padding-top: 24px; /* ( 80px - 56 px ) */
}
ion-header .toolbar-background {
	border: none !important;
}
ion-header .item {
	background-color: transparent !important;
}
ion-header .toolbar-title {
	color: map-get($colors, primary);
}
ion-header .bar-buttons {
	color: map-get($colors, primary);
}
ion-navbar {
	height: 100%;
}
ion-content .content {
	background-color: map-get($backgrounds, light);
}

/* iOS */
ion-header .toolbar-background-ios {
	border: none !important;
}
ion-header .item-ios {
	background-color: transparent !important;
}
ion-header .toolbar-title-ios {
	color: map-get($colors, primary);
}
ion-header .bar-buttons-ios {
	color: map-get($colors, primary);
}
ion-content .content-ios {
	background-color: map-get($backgrounds, light);
}



/* Um... Some other Stuff? */

toolbar-title toolbar-title-md
.ion-list{
	background-color: transparent !important;
}
.ion-nav {
	background-color: transparent !important;
}

.scroll-content {
	overflow-y: auto !important;
}

/* POPSMOKE MENU */
.ps-menu {
	background-color: transparent !important;
}
.ps-menu-button {
	background-color: transparent !important;
	height: 100% !important;
	padding: 0px !important;
	width: 100% !important;
}
.ps-menu-icon {
	color: white;
    font-size: 30px;
	height: 40px;
	line-height: 40px;
	margin-left: 0px;
	padding-left: 16px;
	padding-right: 16px;
	width: 72px;
	text-align: center;
	vertical-align: middle;
}
.ps-menu-option {
	background-color: transparent !important;
	color: white;
	font-size: 22px;
	height: 64px;
	margin-left: 0px;
	padding-left: 0px;
	text-align: left;
}
.menu-section {
	margin-left: 16px;
}
.ps-menu-header {
	background-color: transparent !important;
	height: 80px !important;
}
.ps-menu-footer-button {
	background-color: #2196F3;
	border-radius: 0px;
	height: 44px;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
/* POPSMOKE FIELD */
.ps-field-button {
	width: 100%; 
	height: 100%;
	background-color: transparent;
}



.spacer {
	height: calc(100% - (7*64px) - 8px);
}
