
page-personal-info-profile button {
	background-color: transparent;
}
page-personal-info-profile ion-item {
	background-color: transparent;	
}
page-personal-info-profile ion-label {
	background-color: transparent;		
}
page-personal-info-profile .item-md {
	background-color: transparent;		
}
page-personal-info-profile .item-inner {
	background-color: transparent;		
}
page-personal-info-profile .input-wrapper {
	background-color: transparent;			
}